body {
  background: lightpink;
}

body > header > nav > ul {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.logo {
  border: 1px solid;
  margin-left: 300px;
  border-radius: 10px;
}

#one {
  display: flex;
}

#one article > img {
  width: 250px;
  height: auto;
  border-radius:50px;
}
#aboutme article > img {
  width: 250px;
  height: auto;
  border-radius: 50px;
}
